.news {
    /* Subgrid */
    // grid-row: 1/5;

    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: repeat(4, auto);

    /* Subgrid */
    // grid-template-rows: subgrid;

    gap: 10px 20px;

    padding: 10px;
    border: 1px solid var(--c-border);
}

.news__img {
    grid-row: 1/5;
}

.news__number {
    color: var(--c-number);
    font: var(--f-number);
}

.news__title {
    color: var(--c-title);
    font: var(--f-title);
}

.news__text {
    color: var(--c-text);
    font: var(--f-text);
}